{% load static %}
<div class="left-side-menu">
                <div class="slimscroll-menu">
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Navigation</li>
                            <li>
                                <a href="{% url 'institution:my_institute' %}" class="waves-effect">
                                <i class="ion-md-copy"></i>
                                    My Institute
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'institution:admission_session' %}" class="waves-effect">
                                <i class="ion-md-copy"></i>
                                    Admission Session
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'transaction:transaction_method' %}" class="waves-effect">
                                <i class="ion-md-copy"></i>
                                    Institution Transaction
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'institution:my_institute_subject' %}" class="waves-effect">
                                <i class="ion-md-copy"></i>
                                    Institution Subject
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'institution:institute_pending_application' %}" class="waves-effect">
                                <i class="ion-md-copy"></i>
                                   Pending Applications
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'transaction:institute_payment_list' %}" class="waves-effect">
                                <i class="ion-md-copy"></i>
                                   Applications Payment
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- End Sidebar -->
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -left -->
            </div>
