{% extends "institution_base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="float-left">
                        Transaction Method
                    </h4>
                    <a href="{% url 'transaction:add_transaction_method' %}" class="btn btn-primary btn-sm float-right">
                        <i class="fas fa-plus"></i> Add New Transaction
                    </a>
                </div>
                <div class="card-body">

                    <table id="datatable" class="table table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Institute Name</th>
                                <th>Method Name</th>
                                <th>Account Number</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for method in all_transaction_method %}


                                <tr>
                                <td>{{method.institute.institute_name}}</td>
                                <td>{{method.method_name}}</td>
                                <td>{{method.account_number}}</td>
                                <td>
                                    <a href="{% url 'transaction:edit_transaction_method' method.id %}" class="btn btn-primary btn-block">
                                        <i class="fas fa-edit mr-1"></i> Edit
                                    </a>
                                    <a href="{% url 'transaction:delete_transaction_method' method.id %}" class="btn btn-danger btn-block">
                                        <i class="fas fa-trash mr-1"></i> Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% include 'partials/_pagination.html' %}
        </div>
    </div>
{% endblock content %}
