{% extends "institution_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Edit My Institute
                    </h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'institution:my_institute_edit' my_institute.id %}" method="POST" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}

                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
