{% extends "institution_base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="float-left">
                        Institute Subjects
                    </h4>
                    <a href="{% url 'institution:my_institute_subject_add' %}" class="float-right btn btn-sm btn-info">
                        <i class="fas fa-plus">Add Subject</i>
                    </a>
                </div>
                <div class="card-body">

                    <table id="datatable" class="table table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Institute Name</th>
                                <th>Subject Name</th>
                                <th>Level</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in all_subject %}


                                <tr>
                                <td>{{subject.institute.institute_name}}</td>
                                <td>{{subject.subject_name}}</td>
                                <td>{{subject.get_level_display}}</td>
                               <td>
                                    <a href="{% url 'institution:my_institute_subject_edit' subject.id %}" class="btn btn-primary btn-block">
                                        <i class="fas fa-edit mr-1"></i> Edit
                                    </a>
                                    <a href="{% url 'institution:my_institute_subject_delete' subject.id %}" class="btn btn-danger btn-block">
                                        <i class="fas fa-trash mr-1"></i> Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% include 'partials/_pagination.html' %}
        </div>
    </div>
{% endblock content %}
