{% extends "institution_base.html" %}

{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-xl-4 col-sm-6">
                    <div class="card bg-pink">
                        <div class="card-body widget-style-2">
                            <div class="text-white media">
                                <div class="media-body align-self-center">
                                    <h2 class="my-0 text-white"><span data-plugin="counterup">{{total_application}}</span></h2>
                                    <p class="mb-0">Total Application</p>
                                </div>
                                <i class="fab fa-wpforms"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6">
                    <div class="card bg-purple">
                        <div class="card-body widget-style-2">
                            <div class="text-white media">
                                <div class="media-body align-self-center">
                                    <h2 class="my-0 text-white"><span data-plugin="counterup">{{total_pending_application}}</span></h2>
                                    <p class="mb-0">Pending Application</p>
                                </div>
                                <i class="far fa-bell-slash"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="card bg-info">
                        <div class="card-body widget-style-2">
                            <div class="text-white media">
                                <div class="media-body align-self-center">
                                    <h2 class="my-0 text-white"><span data-plugin="counterup">{{total_accepted_application}}</span></h2>
                                    <p class="mb-0">Accepted Application</p>
                                </div>
                                <i class="far fa-calendar-check"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
