{% extends "applicant_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Pay Fee For {{institute_obj.institute_name}}--Amount : {{institute_obj.application_fee}}</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'applications:pay_application_fee' application_id institute_obj.id  %}" method="POST" novalidate>
                        {% csrf_token %}
                        {{application_payment_form|crispy}}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
