{% extends "landing_base.html" %}

{% load static %}


{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-6">
            <div class="card mt-4">
                <div class="card-header text-center p-4 bg-primary">
                    <h4 class="text-white mb-0 mt-0">Password Changed Successfully</h4>
                </div>
                <div class="card-body">
                    <p>
                        Your password has been set. You may go ahead and <a href="{% url 'home_login' %}">sign in</a> now.
                    </p>
                </div>

            </div>

        </div>
    </div>
{% endblock content %}


