{% extends "landing_base.html" %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-6">
            <div class="card mt-4">
                <div class="card-header text-center p-4 bg-primary">
                    <h4 class="text-white mb-0 mt-0">Reset Password</h4>
                </div>
                <div class="card-body">
                    <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                    </p>
                    <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                </div>
            </div>


        </div>
    </div>
{% endblock content %}







