{% extends "institution_base.html" %}

{% load crispy_forms_tags %}


{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="float-left">
                        Update Institute Instruction
                    </h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'institution:edit_instruction' instruction_obj.id %}" method="POST" novalidate>
                        {% csrf_token %}
                        {{ form.media }}
                        {{form|crispy}}

                        <input type="submit" value="Update">
                    </form>

                </div>
            </div>


        </div>
    </div>
{% endblock content %}
