        {% load static %}
        <!-- Vendor js -->
        <script src="{% static 'js/vendor.min.js' %} "></script>
        <!-- App js -->
        <script src="{% static 'js/app.min.js' %} "></script>

        <script src="{% static 'libs/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables/buttons.print.min.js' %}"></script>
        <script src="{% static 'libs/datatables/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>

        <!--Start of Tawk.to Script-->
                <script type="text/javascript">
                var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
                (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/5f0c9ca75b59f94722baa585/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
                })();
                </script>
        <!--End of Tawk.to Script-->

        <script src="{% static 'js/main.js' %} "></script>
