        {% load static %}
        <!-- Vendor js -->
        <script src="{% static 'js/vendor.min.js' %} "></script>
        <!-- App js -->
        <script src="{% static 'js/app.min.js' %} "></script>

        <script src="{% static 'libs/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables/buttons.print.min.js' %}"></script>
        <script src="{% static 'libs/datatables/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>

        <script src="{% static 'js/main.js' %} "></script>
