{% load static %}
<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="{{user.user_profile.profile_pic.url}}" alt="{{user.username}}" class="rounded-circle">
            <span class="pro-user-name ml-1">
            {{user.username|title}}   <i class="mdi mdi-chevron-down"></i>
            </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>
                <!-- item-->
                <a href="{% url 'accounts:my_profile' %}" class="dropdown-item notify-item">
                <i class="mdi mdi-account-outline"></i>
                <span>Profile</span>
                </a>

                <!-- item-->
                <a href="{% url 'accounts:change_password' %}" class="dropdown-item notify-item">
                <i class="fas fa-key"></i>
                <span>Change Password</span>
                </a>

                <div class="dropdown-divider"></div>
                <!-- item-->
                <a href="{% url 'accounts:logout' %}" class="dropdown-item notify-item">
                <i class="mdi mdi-logout-variant"></i>
                <span>Logout</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="index.html" class="logo text-center logo-light">
            <span class="logo-lg">
                <span class="logo-lg-text-light">VortiBd</span>
            </span>
            <span class="logo-sm">
                <!-- <span class="logo-lg-text-dark">V</span> -->
                <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
            </span>
        </a>
    </div>
    <!-- LOGO -->

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile waves-effect">
            <i class="mdi mdi-menu"></i>
            </button>
        </li>
    </ul>
</div>
