{% extends "landing_base.html" %}

{% load crispy_forms_tags %}


{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-inverse text-white" style="background-color: #0fc846; border-color: #0fc846;">
            <div class="card-body">
                <div class="float-left">
                    <h1 class="card-title text-white" style="font-size:30px;">{{institution_obj.institute_name}}</h1>
                    <p class="card-text m-0">{{institution_obj.institute_location}}</p>
                    <p class="card-text m-0">{{institution_obj.institute_city}}</p>
                    <p class="card-text m-0">Institute Code {{institution_obj.institute_code}}</p>

                    <h5 class="lead text-dark font-weight-bold">Subscribe Us</h5>
                    <form action="{% url 'institution:institute_subscribe' institution_obj.id %}" method="POST" novalidate>
                        {% csrf_token %}
                        {{subscription_form|crispy}}
                    </form>
                </div>
                <div class="float-right">
                    {% if institution_obj.institute_pic %}
                        <img src="{{institution_obj.institute_pic.url}}" width="150px">
                    {% endif %}
                </div>

            </div>
        </div>


        <div class="card card-inverse text-white">
            {% for instruction in institution_instructions %}
                <div class="card-header bg-info">
                    <h1 class="lead font-weight-bold">
                        {{instruction.title}}
                    </h1>
                </div>
                <div class="card-body text-dark">
                    <p class="lead text-dark">
                        {{instruction.body|safe}}
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock content %}
