{% extends "landing_base.html" %}

{% load static %}


{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-6">
            <div class="card mt-4">
                <div class="card-header text-center p-4 bg-primary">
                    <h4 class="text-white mb-0 mt-0">You Have Successfully Logged Out</h4>
                </div>
                <div class="card-body">
                    <p>
                        If You Want To Login Again Click Here<a class="btn btn-outline-info mx-2 btn-sm" href="{% url 'home_login' %}">Sign In</a>now.
                    </p>
                </div>

            </div>

        </div>
    </div>
{% endblock content %}


