<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Addmission Site" name="description" />
    <meta content="Mahmudul Hassan" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        {% block title %}
            VortiBD
        {% endblock title %}
    </title>
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    {% include 'partials/applicant/_css.html' %}
    {% block style %}

    {% endblock style %}
</head>
<body>
    <div id="wrapper">
        <!-- Topbar Start -->
        {% include 'partials/applicant/_topbar.html' %}
        <!-- end Topbar -->

        <!--  Left Sidebar Start -->
        {% include 'partials/applicant/_sidebar.html' %}
        <!-- Left Sidebar End -->

        <!-- Start Page Content here -->
        <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                {% include 'partials/_alert.html' %}
                                {% include 'partials/applicant/_breadcrumb.html' %}
                                {% block content %}

                                {% endblock content %}
                            </div>
                        </div>
                        <!-- end page title -->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end content -->
                <!-- Footer Start -->
                {% include 'partials/applicant/_footer.html' %}
                <!-- end Footer -->
            </div>
        <!-- End Page content -->
    </div>

    {% include 'partials/applicant/_js.html' %}

    {% block script %}

    {% endblock script %}
</body>
</html>
