{% extends "applicant_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Payment List</h3>
                </div>
                <div class="card-body">

                    <table id="datatable" class="table table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Institute Name</th>
                                <th>Level</th>
                                <th>Subject</th>
                                <th>Fee</th>
                                <th>Transaction Number</th>
                                <th>Status</th>
                                <th>Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payment_list %}
                                <tr>
                                    <td>{{payment.application.applicant.student_name}}</td>
                                    <td>{{payment.institute.institute_name}}</td>
                                    <td>{{payment.application.get_level_display}}</td>
                                    <td>{{payment.application.subject.subject_name}}</td>
                                    <td>{{payment.institute.application_fee}}</td>
                                    <td>{{payment.transaction_number}}</td>
                                    <td>{{payment.get_status_display}}</td>
                                    <td>{{payment.created_at}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% include 'partials/_pagination.html' %}
        </div>
    </div>
{% endblock content %}
